.login{
    background: url(../../assets//images/Untitled.svg) no-repeat center center/cover;
    background-color: #ffffff;
}
.register{
    background: url(../../assets//images/Untitled.svg) no-repeat center center/cover;
    background-color: #ffffff;
}